/* MainDisplay styles */
.main-display-area {
  /* direction: row; */
  justify-content: center;
  align-content: center
}

.arrow-buttons {
  padding: 100px 50px;
}

/* PrevButton styles */
.prev-arrow {
  justify-content: flex-end;
  align-items: center; 
}

/* NextButton styles */
.next-arrow {
  justify-content: flex-start;
  align-items: center; 
}

/* TopItem styles */
.track-info {
  /* display: flex; */
  /* justify-content: flex-start; */
}